{% extends 'base.html' %}
{% block contenidoCambiable %}
        
    <section class="" id="Login">
        <div class="container px-4">
            <div class="row gx-4 ">
                <div class="col-lg-8">
                    <form class="fs-4" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        {{profile_form.as_p}}
                        <button type="submit" class="btn btn-success  ">Registrarse</button>
                    </form>
                </div>
            </div>  
        </div>
    </section>
{% endblock contenidoCambiable %}


