{% extends 'base.html' %}


{% block contenidoCambiable %}
    <!-- Services section-->
    <section class="bg-dark text-light " id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Sobre mi</h2>
                    <p class="lead">Hola soy santiago, tambien conocido como Dogeon en el internet, 
                        soy un desarrollador Uruguayo de videojuegos/web, y me encanta probar juegos nuevos.</p>
                    <p class="lead">Esta pagina no la cree tanto como para dar una guia seria sobre si un juego
                        esta bueno objetivamente, sino mas como una opinion propia, solo que centradas en un solo lugar.</p>
                    <p class="lead">Por mas que diga eso de igual manera siempre intento dar una descripcion objetiva y sin bias, tomando en 
                        cuenta pros y cons del mismo.</p>
                        <p class="lead">Esta aplicacion es un proyecto final para el curso en DJango que estoy haciendo.</p>


                </div>
            </div>
        </div>
    </section>
    <!-- Contact section-->
    <section id="contact">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                </div>
            </div>
        </div>
    </section>
{% endblock contenidoCambiable %}