{% extends 'base.html' %}
{% block contenidoCambiable %}
        <!-- Header-->
        <header class="bg-danger bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Borrar Review</h1>
            </div>
        </header>
    <section class="" id="services">
        <div class="container px-4">
            <div class="row gx-4 ">
                <div class="col-lg-8">







                    <h1>Borrar Review {{review.juego}}</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        Seguro?
                        <input type="submit" value="Eliminar">
                    </form>




                </div>
            </div>  
        </div>
    </section>
{% endblock contenidoCambiable %}